/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .header__cart-list {
        position: fixed;
        top: var(--with-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }
    
    .app__container {
        margin-top: calc(var(--with-height) + var(--header-sort-bar-height));
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile-category {
        display: block;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width:1023px){
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --navbar-height: 0px;
        --header-height: 50px;
    }
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
        margin: 0 16px;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__mobile-search {
        display: block;
    }

    .header__search {
        position: fixed;
        left: 0;
        right: 0;
        top: var(--with-height);
        height: var(--header-sort-bar-height);
        z-index: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 0 12px;
        display: none;
        animation: mobileSearchSideIn ease-in 0.3s;
    }
    
    @keyframes mobileSearchSideIn {
        from {
            transform: translateY(-50%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--with-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .app__content {
        margin: 0 4px;
    }

    .pagination-item {
        margin: 0;
    }
    
    .pagination-item__link {
        font-size: 1.6rem;
        min-width: 36px;
        height: 28px;
    }

    .header__logo-img {
        width: 110px;
    }

    .footer {
        padding: 0 16px;
    }

    .footer__download {
        justify-content: center;
    }
    
    .footer__download-apps {
        flex: unset;
    }

    .footer__download-link {
        display: block;
        padding: 6px 8px;
        margin-bottom: 8px;
    }
}